
body{
    background: url(https://img.texasmonthly.com/2012/01/chucknorris.png?auto=compress&crop=faces&fit=fit&fm=jpg&h=0&ixlib=php-1.2.1&q=45&w=1120) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    max-width: 1000px;
    overflow: hidden;
    border: solid red 3px;  
  }
    
.title {
  max-width: 1000px;
  text-align: center;
  border: solid yellowgreen 3px;
  }

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  transition: all 500ms ease;
  }

.gallery-container {
  overflow: hidden;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  border: solid blue 3px;
  color: rgb(255, 240, 247);
  text-align: center;
  display: block;
  align-content: center;
}

/* .gallery__item {
  list-style: none;
  height: 500px;
  max-width: 1000px;
  background-position: center center;
  background-size: cover;
  border: solid blue;
  
} */

.randomButton {
  display: block;
  margin: 0 auto;
  background:darkgoldenrod;
  margin-bottom: 60px;
  
}
.randomJoke {
  color: aliceblue;
  border: solid blue;
  list-style: none;
  height: 500px;
  max-width: 1000px;
  background-position: center center;
  background-size: cover;
  text-align: center;
  justify-content: center;
}
/* a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
} */


/* Small devices (landscape phones, 576px and up) */
    @media screen and (min-width: 576px) {
 }
  /* Medium devices (tablets, 768px and up) */
    @media screen and (min-width: 768px) {
 }
  /* Large devices (desktops, 992px and up) */
    @media screen and (min-width: 992px) {
 }
  /* Extra large devices (large desktops, 1200px and up) */
    @media screen and (min-width: 1200px) {
 }